{% extends "base.html" %}
{% block head %}
	{{super()}}
	<style>
		div.field-wrapper {
			padding-bottom:24px;
		}
	</style>
{% endblock %}
{% block main %}
<form action="" method="post">
	{# Не забываем hidden_tag() в формах! Без этого формы не будут проходить валидацию #}
	{{form.hidden_tag()}}
	<div class="field-wrapper">
		{{form.name.label}}<br/>
		{{form.name}}
	</div>
	<div class="field-wrapper">
		{{form.password.label}}<br/>
		{{form.password}}
	</div>
	<div class="field-wrapper">
		{{form.submit}}
	</div>
</form>
{% endblock %}
