<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
		<title>ORM Demo</title>
		<meta charset="utf-8">
		{% endblock %}
	</head>
	<body>
		{% block main %}
		Hello world!
		{% endblock %}
	</body>
</html>
