{% extends "base.html"%}
{% block main %}
{% if users %}
	<h2>Все пользователи:</h2>
	<ul>
	{% for user in users %}
		<li>{{user.name}}</li>
	{% endfor %}
	</ul>
{% else %}
	<span>Нет пользователей</span>
{% endif %}
{% endblock %}
